<main class="container mx-auto p-4 md:p-8">
  <app-search (search)="handleSearch($event)"></app-search>

  <div class="mt-12">
    @if (loading()) {
      <div class="text-center">
        <div class="flex justify-center items-center">
          <svg class="animate-spin h-5 w-5 text-sky-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path></svg>
        </div>
        <p class="mt-2 text-slate-500">{{ status() }}</p>
      </div>
    } @else {
      <div class="text-center">
        @if(searchResult(); as result) {
          <app-product-cards [products]="result.result.productos || []" [collectionId]="result.id || ''" [recommendation]="result.result.recomendacion_final"></app-product-cards>
        } @else if(demoResult) {
            <div class="pt-8">
              <h3 class="text-center text-lg font-semibold text-slate-700 mb-4">O mira nuestros datos de demostración:</h3>
              <app-product-cards [products]="demoResult.result.productos || []" [collectionId]="demoResult.id || ''" [recommendation]="demoResult.result.recomendacion_final"></app-product-cards>
            </div>
        }
      </div>
    }
  </div>
</main>

<div class="fixed bottom-6 right-6 z-50">
  
  @if (isHelpMenuOpen()) {
    <div class="w-72 origin-bottom-right rounded-lg bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all duration-200 ease-out transform opacity-100 scale-100">
      <div class="p-3 bg-green-600 rounded-t-lg">
        <h3 class="font-semibold text-white">Hola, ¿cómo puedo ayudarte?</h3>
      </div>
      <div class="py-2">
        <a href="#" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">¿Cómo funciona la IA?</a>
        <a href="#" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">¿Mis datos están seguros?</a>
        <a href="#" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Contactar a soporte</a>
      </div>
    </div>
  }

  <button 
    (click)="toggleHelpMenu()" 
    class="mt-4 flex h-16 w-16 items-center justify-center rounded-full bg-green-500 text-white shadow-xl transition-transform hover:scale-105 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
    aria-label="Abrir menú de ayuda">
    @if (!isHelpMenuOpen()) {
     <svg height="800px" width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 58 58" xml:space="preserve">
<g>
	<path style="fill:#2CB742;" d="M0,58l4.988-14.963C2.457,38.78,1,33.812,1,28.5C1,12.76,13.76,0,29.5,0S58,12.76,58,28.5
		S45.24,57,29.5,57c-4.789,0-9.299-1.187-13.26-3.273L0,58z"/>
	<path style="fill:#FFFFFF;" d="M47.683,37.985c-1.316-2.487-6.169-5.331-6.169-5.331c-1.098-0.626-2.423-0.696-3.049,0.42
		c0,0-1.577,1.891-1.978,2.163c-1.832,1.241-3.529,1.193-5.242-0.52l-3.981-3.981l-3.981-3.981c-1.713-1.713-1.761-3.41-0.52-5.242
		c0.272-0.401,2.163-1.978,2.163-1.978c1.116-0.627,1.046-1.951,0.42-3.049c0,0-2.844-4.853-5.331-6.169
		c-1.058-0.56-2.357-0.364-3.203,0.482l-1.758,1.758c-5.577,5.577-2.831,11.873,2.746,17.45l5.097,5.097l5.097,5.097
		c5.577,5.577,11.873,8.323,17.45,2.746l1.758-1.758C48.048,40.341,48.243,39.042,47.683,37.985z"/>
</g>
</svg>
    }
    @if (isHelpMenuOpen()) {
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="h-8 w-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    }
  </button>
</div>